body {
  padding-top: 50px;
  padding-bottom: 20px;
}
ul.nav{
	font-family: 'Arvo', courier, serif;
	font-size: 13px;

}
.jumbotron{
	text-align: center;	
	background-image: url('../images/background1.jpeg');
	color: white;
}
.jumbotron h1{
	font-family: 'Arvo', Glyph, serif;
	margin-top: 0px;
	margin-bottom:30px;
	
}
.btn-lg {
	font-size: 36px;
}
.jumbotron p{
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}
/*h1{
	padding:10px;
	margin: 10px;
	background-clip: grey;
}
*/